<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,280;1,151;1,400&display=swap" rel="stylesheet">
    <style>
        body{
            display: flex;
            flex-direction: row;
            justify-content: center;
            justify-items: center;
            background: #EEEEEE;
        }
        .main-container{
            margin: 80px;
            height: 550px;
            width: 60%;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            background: #334257;
            font-family: 'Montserrat', sans-serif;
        }
        .header{
            color: #A0BCC2;
            display: flex;
            justify-content: center;
            font-style: italic;
        }

        .about{
            color: #A0BCC2;
            font-style: italic;
            margin: 80px 0 0 80px;
            font-size: 20px;
        }

        a {
            outline: none;
            padding: 2px 1px 0;
        }

        a:link {
            color: #A0BCC2;
        }

        a:visited {
            color: #A0BCC2;
        }

        a:focus {
            color: #A0BCC2;
        }

        a:hover {
            color: #334257;
            border-bottom: 1px solid;
            border-radius: 6px;
            background: #EEEEEE;
            text-decoration: none;
        }

        a:active {
            color: #A0BCC2;
        }

        .note{
            color: #A0BCC2;
            font-style: italic;
            font-size: 20px;
            margin: 80px 0 0 80px;
        }
    </style>
    <title>MOVIES SCRAPER</title>
</head>
<body>
    <div class="main-container">
        <div class="header"><h2>Moives Scraper API</h2></div>
        <div class="about">
            This is an API service for scraping IMDB website.
            <br>
            <br>
            This API is listed in RapidApi.
            <br>
            <br>
            visit &#128073 <span><a href="https://rapidapi.com/itskish0re/api/search-movies-and-tv-shows" target="_blank">Movies Scraper</a></span>
        </div>
        <div class="note">
            NOTE ⚠️
            <br>
            This project is for Educational Purpose only!
        </div>
    </div>
</body>
</html>